.heading {
  display:inline-block; 
}

#pageHeading {
  width: 100%;
  border-bottom: 2px solid Black;
  padding-bottom: 15px;
}

.back {
  width: 90%;
  padding: 0;
  margin: 0;
}

.adminPostsBox {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 2px solid Black;
  border-radius: 10px;
}

body {
  
}
