.heading {
  display: inline-block;
}

#google_translate_element {
  position: relative;
  float: right;
}
#pageHeading {
  width: 100%;
  border-bottom: 1px solid Black;
  padding-bottom: 13px;
}

.back {
  width: 90%;
  padding: 0;
  margin: auto;
  margin-top: 20px;
}

.adminPostsBox {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: 2px solid Black;
}

.adminPosts {
  width: 100%;
  padding: 0;
  margin: 0;
}

.userPostsBox {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 2px solid Black;
}

.userPosts {
  width: 100%;
  padding: 0;
  margin: 0;
}

tr {
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid Black;
}

.col1 {
  width: 15%;
  padding: 10px;
}

.col2 {
  width: 20%;
  padding: 10px;
}

.col3 {
  width: 20%;
  padding: 10px;
}

.col4 {
  text-align: right;
  padding: 10px;
}
