.top {
  background-color: #0a5c0d;
  margin: 0px;
  padding: 10px;
}

.heading {
  display: inline-block;
  color: #e6da05;
  font-family: Georgia, serif;
}

#google_translate_element {
  position: relative;
  float: right;
  top: 50%;
}

.back {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.adminPostsBox {
  width: 100%;
  margin-bottom: 20px;
  border: 0px solid Black;
}

.boxHeading {
  border-bottom: 0px solid Black;
}

.adminPosts {
  width: 100%;
  background-color: #f0f0f0;
  overflow-y: scroll;
  height: 200px;
  display: block;
}

.userPostsBox {
  width: 100%;
  border: 0px solid Black;
}

.userPosts {
  width: 100%;
  background-color: #f0f0f0;
}

tr {
  border-bottom: 1px solid #999999;
}

tbody {
  width 100%;
}

.toprow {
  width: 100%;
  background-color: #e0e0e0;
}

.col1 {
  width: 15%;
  padding: 10px;
}

.col2 {
  width: 20%;
  padding: 10px;
}

.col3 {
  width: 20%;
  padding: 10px;
}

.col4 {
  text-align: right;
  width: 45%;
  padding: 10px;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 17px;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9c9000;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9c9000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #9c9000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #9c9000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #9c9000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9c9000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9c9000;
    background-color: #ffffff;
  }
}
