{% extends "layout.html" %}

{% set page = "adminLog" %}

{% block title %}Administrator Logs{% endblock %}

{% block content %}
<div class="back">
  <div class="logBox">
    <table class="toprow">
      <tr>
        <td class="headCol1"><b>Admin Logs<br></b><i>*Renders last 1000 actions</i></td>
        <td class="headCol2"><input type="text" id="myInputLogs" onkeyup="myFunction()" placeholder="Search"></td>
      </tr>
    </table>
    <div class="logScroll">
      <table class="logContent" id="targetSearchLogs">
        {{ log }}
      </table>
    </div>
  </div>
  <div class="adminInfoBox">
    <p><b>Your Account:</b><br>Username: {{ username }}<br>Email: {{ email }}<br>Receive emails when users post: {{ opt }}<br><br>
      <b>Change Account:</b><br>Recieve emails: {{ receive }}<br>Change email: {{ change }}<br><br>
      <b>Admin List:</b><br>Generated List of Admins + Buttons to remove<br>Add admin (type Github username): typeField + submitButton
    </p>
  </div>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInputLogs");
  filter = input.value.toUpperCase();
  table = document.getElementById("targetSearchLogs");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}

