{% extends "layout.html" %}

{% set page = "adminLog" %}

{% block title %}Administrator Logs{% endblock %}

{% block content %}
<div class="back">
  <div class="logBox">
    <table class="toprow">
      <tr>
        <td class="headCol1"><b>Admin Logs<br></b><i>*Renders last 1000 actions</i></td>
        <td class="headCol2"><input type="text" id="myInputLogs" onkeyup="myFunction()" placeholder="Search"></td>
      </tr>
    </table>
    <div class="logScroll">
      <table class="logContent" id="targetSearchLogs">
        {{ log }}
      </table>
    </div>
  </div>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInputLogs");
  filter = input.value.toUpperCase();
  table = document.getElementById("targetSearchLogs");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<footer>
  <div class="footerBox">
    <table>
      <tr class="noBorder">
        <td><img src="static/images/SB.jpg" alt="SBHSLogo" class="footerIm"></td>
        <td class = "footerText"> <u> Santa Barbara High School </u> <br> 700 East Anapamu St. Santa Barbara, CA 93103 <br> Phone: (805) 966-9101 <br> TDD: (805) 966-9101 x281 <br> Fax: (805) 965-6872</td>
      </tr>
    </table>
    <table class="links">
      <tr class="noBorder">
        <td><a href="https://www.sbunified.org/accessibility-statement" class="footerLinks">Accesibility Statement</a><p> | </p> <a href="https://www.sbunified.org/nondiscrimination-statement" class="footerLinks">Nondiscrimination Statement</a> <p> | </p><a href="https://www.sbhsdons.org/pdf/Campus%20Map.pdf" class="footerLinks">Campus Map</a><p> | </p> <a href="https://www.sbunified.org/support/contact-us" class="footerLinks">Contact SB Unified School District</a></td>
      </tr>
    </table>
  </div>
</footer>
{% endblock %}

