{% extends "layout.html" %}

{% block title %}Discussion{% endblock %}

{% block content %}
<div class="back">
  <div class="discussionBox">
    <table class="toprow">
      <tr>
        <th class="col1">Comments</th>
        <th class="col2"></th>
        <th class="col3"></th>
        <th class="col4">{% if logged_in %}<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#adminModal">Comment</button>{% else %}<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userModal">Comment</button>{% endif %}</th>
      </tr> <!-- Get this by assigning the object ID of each post document, using a submit button, and processing it in python --> <!-- we will also need to put the parent's full name, student name and grade here for only admins to see -->
    </table>
    <table class="commentPosts">
      <tr class="commentBox">
        <td class="comments"><b>{{ title }}</b><br><i>{{ name }}{% if logged_in %}{{ information }}{% endif %}<br>{{ time }}</i><br><br>{{ content }}<br>
      </tr>
    </table>
  </div>
</div>

<div id="adminModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Comment:</h4>
      </div>
      <div class="modal-body">
        <form action="/submitCommentA" method="POST" id="adminform">
          <div class="form-group">
            <label for="name">Display Name:</label>
            <textarea class="form-control" rows="1" name="adminName" required></textarea>
          </div>
          <div class="form-group">
            <label for="adminComment">Message:</label>
            <input name="adminComment" type="hidden">
            <div id="editor">
              <p></p>
            </div>
            <script>
              var quill = new Quill('#editor', {
              theme: 'snow'
              });
            </script>
          </div>
          <button type="submit" class="btn btn-primary" disabled>Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div id="userModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Comment</h4>
      </div>
      <div class="modal-body">
        <form action="/submitCommentU" method="POST" id="userform"> <!-- Replace most of this form with a jinja variable. An admin posting a comment or post on the user forum should not have to answer certain questions. -->
          <div class="form-group">
            <label for="userComment">Message:</label>
            <input name="userComment" type="hidden">
            <div id="editor2">
              <p></p>
            </div>
            <script>
              var quill = new Quill('#editor2', {
              theme: 'snow'
              });
            </script>
          </div>
          <br><br>
          <div class="form-group">
            <label for="user">Full Name:</label>
            <input type="text" class="form-control" name="userName" required>
          </div>
          <div class="form-group">
            <label for="student">Student Name and Grade:</label>
            <input type="text" class="form-control" name="userStudent" required>
          </div>
          <br>
          <div class="checkbox">
          <label class="checkbox-inline">
          <input type="checkbox" name="anon" checked value="true" />
          <input type="hidden" name="anon" value="false" />
          Make Anonymous to Other Parents</label>
          </div>
          <!--<div class="checkbox">-->
            <!-- <label class="checkbox-inline"><input type="checkbox" value="userAnon">Make Anonymous to Other Parents</label> -->
          <!--</div>-->
          <br>
          <button type="submit" class="btn btn-primary" disabled>Submit</button>
          <small id="generalVet" class="form-text text-muted">
            Your comment will not show on the forum until an admin approves it.
          </small>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
