{% extends "layout.html" %}

{% block title %}Discussion{% endblock %}

{% block content %}
<div class="back">
  <div class="discussionBox">
    <table class="commentsPosts">
      <tr>
        <th class="col1" colspan="2">Comments</th>
        <th class="col2"></th>
        <th class="col3"></th>
        <th class="col4">Post</th>
      </tr>
      <tr>
        <td class="col1">Post Clicked</td>
        <td class="col2">Post Clicked</td>
        <td class="col3">Post Clicked</td>
        <td class="col4">Post Clicked</td>
      </tr>
      {{ comments }}
    </table>
  </div>
</div>
{% endblock %}
