{% extends "layout.html" %}

{% set page = "englishlearnerforum" %}

{% block title %}English Language Learner Forum{% endblock %}

{% block content %}
<div class="back">
  <div class="postBox">
    <table class="toprow"> <!-- The "heading" of the resources and announcements box (Search bar, post)-->
      <tr>
        <td class="headCol1"><b>Resources and Announcements</b></td> 
        <td class="headCol2"><input type="text" id="myInputAdmin" onkeyup="myFunction2()" placeholder="Search">{% if logged_in %}   <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#adminModal">Post</button>{% endif %}</td>
      </tr>
    </table>
    <div class="scroll">
      <table class="adminPosts" id="targetSearchAdmin"> <!-- The content of the resources and announcements -->
        {{ ELLAPosts }}
      </table>
    </div>
  </div>
  <div class="postBox2">
    <div class="boxHeading">
      <table class="toprow"> <!-- The "heading" of the user forum box (search bar, post) -->
        <tr>
          <td class="headCol1"><b>User Forum</b></td>
          <td class="headCol2"><input type="text" id="myInputUser" onkeyup="myFunction()" placeholder="Search">   <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userModal">Post</button></td>
        </tr>
      </table>
    </div>
    <div class="scroll">
      <table class="userPosts" id="targetSearchUser"> <!-- The content of the user forum -->
        {{ ELLUPosts }}
      </table>
    </div>
  </div>
</div>
<script> <!-- Search bar for user forum -->
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInputUser");
  filter = input.value.toUpperCase();
  table = document.getElementById("targetSearchUser");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function myFunction2() { <!-- Search bar for resources and announcements -->
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInputAdmin");
  filter = input.value.toUpperCase();
  table = document.getElementById("targetSearchAdmin");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
    
<div id="adminModal" class="modal fade" role="dialog"> <!-- The form for submitting new posts in resources and announcements -->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Post:</h4>
      </div>
      <div class="modal-body">
        <form action="/adminSubmitPostELL" method="POST" id="adminform">
          <div class="form-group">
            <label for="name">Display Name:</label>
            <textarea class="form-control" rows="1" name="adminName" required></textarea>
          </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <textarea class="form-control" rows="1" name="adminTitle" required></textarea>
          </div>
          <div class="form-group">
            <label for="adminMessage">Message:</label>
            <input name="adminMessage" type="hidden">
            <div id="editor">
              <p></p>
            </div>
            <script>
              var quill = new Quill('#editor', {
              theme: 'snow'
              });
            </script>
          </div>
          <!--<div class="form-group">
            <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" name="adminComment" required></textarea>
            <div id="editor">
              <p></p>
              <p><br></p>
            </div>-->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div id="userModal" class="modal fade" role="dialog"> <!-- The form for submitting posts in user forum -->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Post</h4>
      </div>
      <div class="modal-body">
        <form action="/userSubmitPostELL" method="POST" id="userform"> <!-- Replace most of this form with a jinja variable. An admin posting a comment or post on the user forum should not have to answer certain questions. -->
          <div class="form-group">
            <label for="title">Title:</label>
            <textarea class="form-control" rows="1" name="userTitle"  maxlength="120" required></textarea>
          </div>
          <div class="form-group">
            <label for="userMessage">Message:</label>
            <input name="userMessage" type="hidden">
            <div id="editor2">
              <p></p>
            </div>
            <script>
              var quill2 = new Quill('#editor2', {
              theme: 'snow'
              });
            </script>
            <small id="characterLimit" class="form-text text-muted">
              12,000 character limit
            </small>
          </div>
          <br><br>
          <div class="form-group">
            <label for="user">Full Name:</label>
            <input type="text" class="form-control" name="userName" maxlength="70" required>
          </div>
          <div class="form-group">
            <label for="student">Student Name and Grade:</label>
            <input type="text" class="form-control" name="userStudent" maxlength="70" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address (optional):</label>
            <input type="email" class="form-control" name="userEmail" maxlength="254">
            <small id="emailHelpBlock" class="form-text text-muted">
              An email will be sent to you when a staff member responds to your post.
            </small>
          </div>
          <br>
          <div class="checkbox">
          <label class="checkbox-inline">
          <input type="checkbox" name="anon" checked value="true" />
          <input type="hidden" name="anon" value="false" />
          Make Anonymous to Other Parents</label>
          </div>
          <!--<div class="checkbox">-->
            <!-- <label class="checkbox-inline"><input type="checkbox" value="userAnon">Make Anonymous to Other Parents</label> -->
          <!--</div>-->
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <small id="generalVet" class="form-text text-muted">
            Your post will not show on the forum until an admin approves it and you will not be able to edit your post.
          </small>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
