{% extends "layout.html" %}

{% set page = "englishlearnerforum" %}

{% block title %}English Language Learner Forum{% endblock %}

{% block content %}
<div class="back">

  <div class="adminPostsBox">
    <div class="boxHeading">
      <table class="toprow">
        <tr>
          <tr class="col1"><b>Resources and Announcements</b></tr>
          <tr class="col2"></tr>
          <tr class="col3"></tr>
          <tr class="col4"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#adminModal">Post</button></tr>
        </tr>
      </table>
    </div>
    <table class="adminPosts">
      <tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr>
      <tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr>
      <tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr>
      <tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr>
      <tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr><tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr>
      <tr>
        <td class="col1">Image and tags(maybe)</td> <! -- Need make it so click on post opens up a page but there are several methods -->
        <td class="col2">Hello Everyone</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">by Ramon</td>
        <td class="col4">Time</td>
      </tr>
    </table>
  </div>

  <div class="userPostsBox">
    <div class="boxHeading">
      <table class="toprow">
        <tr>
          <tr class="col1"><b>User Forum</b></tr>
          <tr class="col2"></tr>
          <tr class="col3">Search Bar</tr>
          <tr class="col4"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userModal">Post</button></tr>
        </tr>
      </table>
    </div>
    <table class="userPosts">
      <tr>
        <td class="col1">Post Img and tags(?)</td>
        <td class="col2">Post Title</td> <! –– Posts are table rows in this table. Use python to pull posts from MongoDB and use functions to format them and turn into table code. Then pass it here as a single jinja variable ––>
        <td class="col3">Post User Name</td>
        <td class="col4">Time</td>
      </tr>
    </table>
  </div>

</div>

<div id="adminModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Post:</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="user">Display Name:</label>
          <input type="text" class="form-control" id="adminName" required>
          <label for="title">Title:</label>
          <textarea class="form-control" rows="1" id="title" required></textarea>
          <label for="comment">Message:</label>
          <textarea class="form-control" rows="5" id="comment" required></textarea>
          <label for="myfile">File Upload:</label>
          <input type="file" id="myfile" name="myfile">
          <input type="submit" value="Submit">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div id="userModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Post</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" action="/userSubmitPostELL" method="POST">
          <label for="title">Title:</label>
          <textarea class="form-control" rows="1" id="title" required></textarea>
          <label for="comment">Message:</label>
          <textarea class="form-control" rows="5" id="comment" required></textarea>
          <label for="myfile">File Upload:</label>
          <input type="file" id="myfile" name="myfile">
          <br><br>
          <label for="user">Full Name:</label>
          <input type="text" class="form-control" id="user" required>
          <label for="student">Student Name and Grade:</label>
          <input type="text" class="form-control" id="student" required>
          <label for="email">Email Address (optional):</label>
          <input type="email" class="form-control" id="email">
          <br>
          <label class="checkbox-inline"><input type="checkbox" value="anon">Make Anonymous to Other Parents</label>
          <br>
          <input type="submit" value="Submit">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
