{% extends "layout.html" %}

{% set page = "information" %}

{% block title %}Information{% endblock %}

{% block content %}
<div class="background">
  <img src="static/images/welcome.png" alt="Welcome Photo" class="image">
</div>
<div class="triangle">
  <img src="static/images/triangle.png" alt="Triangle Design" class="image">
  <div class="centered"><b>Communicate with SBHS Staff and other Parents with Kids Learning English or in Special Education</b></div>
</div>

<div class = "back">
  <br><br>
</div>
{% endblock %}
