{% extends "layout.html" %}

{% set page = "information" %}

{% block title %}Information{% endblock %}

{% block content %}
<div class = "back">
  <p> Welcome!</p>
  <br>
  <p> This a website designed for parents and guardians of Santa Barbara High School students to be able to ask questions directly to the SBHS factulty and staff, who will respond on this website as well. </p>
  <br>
  <p> There is a standard form, an English language learned form, and a Special Education form. Users can post questions in each forum by clicking the blue button at the top right of the bottom box. You may post anonymously if you wish. Once your post goes through, it will be review by an administrator, and if they approve it,
      it will be posted to the forum where all users can view it. An administrator will then post a response which will appear underneath your post. You will be able to review all previous questions and answers posted by other users to see if your issue has already been resovled.
    Thank you for using our site! </p>
</div>
<footer>
  <address>
  </address>
</footer>
{% endblock %}
