<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  <style>
    div#google_translate_element div.goog-te-gadget-simple{background-color:white;}
    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span{color:grey}
    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover{color:#fff}
  </style>
  <title>{% block title %}{% endblock %} - Santa Barbara High School</title>
</head>

<body>
  <span>
    <a href="https://sbhs.sbunified.org" class="heading">
      <img src="SBHSlogo1.png" alt="SBHS Logo">
    </a>
    <h1 class="heading">SBHS Parent Board</h1>
    <div id="google_translate_element" class="heading"></div>
    <br>
  </span>

  <div id="navbar">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li {% if page == "information" %} class="active" {% endif %}><a href=".">Information</a></li>
          <li {% if page == "englishlearnerforum" %} class="active" {% endif %}><a href="englishlearnerforum">English Language Learner Forum</a></li>
          <li {% if page == "specialeducationforum" %} class="active" {% endif %}><a href="specialeducationforum">Special Education Forum</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li {% if page == "login" %} class="active" {% endif %}><a href="login">Admin Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="pageHeading">
    <h2>{% block heading %}{% endblock %}</h2>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>
