<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %} - Santa Barbara High School</title>
</head>

<body>
  <h1>SBHS English Language Learner / Special Education Parent Board</h1>
  <br>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li {% if page == "information" %} class="active" {% endif %}><a href=".">Information</a></li>
        <li {% if page == "englishLearnerBoard" %} class="active" {% endif %}><a href="englishLearnerBoard">English Language Learner Forum</a></li>
        <li {% if page == "specialEducationBoard" %} class="active" {% endif %}><a href="specialEducationBoard">Special Education Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li {% if page == "login" %} class="active" {% endif %}><a href="login">Admin Login</a></li>
      </ul>
    </div>
  </nav>
<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
  
 <a href="/startOver">Start over</a>

</div>

</body>

</html>
